/* elemen dengan id="daftar-siswa" akan memiliki background dengan kode gainsboro  */
#daftar-siswa {
	background-color: gainsboro;
}

/* elemen pertama yang berada didalam id="daftar-siswa" akan memiliki background berwarna biru dengan kode #60A5FA, hal ini merupakan penghargaan kepada siswa berprestasi */
#daftar-siswa > :first-child {
	background-color: #60A5FA;
}

/* elemen terakhir yang berada didalam id="daftar-siswa" akan mendapatkan background berwarna merah dengan kode #F87171, hal ini menandakan bahwa siswa itu perlu belajar lebih lanjut lagi */
#daftar-siswa > :last-child {
	background-color: #F87171;
}

/* seluruh elemen p yang berada didalam id="daftar-siswa" akan memiliki background dengan kode #E5E7EB ketika ia sedang di-hover */
#daftar-siswa > p:hover {
	background-color:#E5E7EB;
}